<?xml version="1.0" encoding="utf-8"?>
<!--
  Web Deploy profile for fintraq.runasp.net.
  Password is read from fintraq.runasp.net-WebDeploy.publishSettings by the deploy script,
  or pass with: msbuild /p:Password=YourPassword
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishUrl>site56963.siteasp.net</PublishUrl>
    <MSDeployServiceURL>site56963.siteasp.net</MSDeployServiceURL>
    <DeployIisAppPath>site56963</DeployIisAppPath>
    <UserName>site56963</UserName>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <EnableMSDeployBackup>false</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
  </PropertyGroup>
</Project>
